/*
    All Files
*/

@font-face {
    font-family: font;
    src: url(fonts/Louis\ George\ Cafe.ttf);
}

html {
    height: 100%;
    width: 100%;
    font-family: font;
}

body {
    margin-right: 12em;
    margin-left: 12em;
}

hr {
    margin-right: 5%;
    margin-left: 5%;
}

.unhighlighted{
    color: black;
    text-decoration: none;
}

.highlighted{
    color: black; 
}

#name {
    margin-bottom: -1.2em;
}

#name h1 {
    color: black;
    font-size: 3em;
}

#menubar {
    width: 80%;
    overflow: hidden;
    text-align: center;
}

#menubar a {
    margin-right: 10%;
    display: inline-block;
    font-size: 1.3vw
}

#menubar a:hover {
    color: gray;
}

/*
    index.html
*/

#profile-box {
    position: relative;
    margin-left: auto;
    display: block;
    float: left;
    width: 50%;
    max-width: 384px;
    max-height: 480px;
    margin-top: 30px;
    margin-right: 30px;
}

#profile-box::after {
    display: block;
    content: '';
    padding-bottom: 120%;
}

#profile-box img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#abouttext {
    padding: 20px;
    margin-right: 50px;
    font-size: 1.3vw;
}

#aboutsocials {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 1.3vw;
}

#aboutsocials img {
    height: 30px;
    width: 30px;
}

#aboutsocials a{
    text-decoration: none;
}

#aboutsocials a:hover {
    text-decoration: underline;
}

#aboutother td{
    vertical-align: top;
}

#aboutother {
    font-size: 1.3vw;
}

/*
    projects.html
*/

.project {
    width: 100%;
    overflow: hidden;
    margin-bottom: 12px;
}

.entry {
    text-align: center;
    font-size: 1.3vw;
    width: 50%;
    display: inline-block;
    margin-top: 2%;
}

.entry button {
    font-size: 1.3vw;
}

.thumbnail {
    width: 50%;
    display: block;
    float: left;
}

#github {
    text-align: center;
}

/* MODAL CSS FROM W3SCHOOLS */
/* https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    font-size: 1.3vw;
}

.modal-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 
    updates.html
*/

.update {
    margin-bottom: 40px;
    font-size: 1.3vw;
}

.update h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.update h4{
    margin-top: 0px;
    margin-bottom: 5px;
}

.update ul {
    margin-top: 0px;
}

/*
    resume.html
*/

iframe {
    margin-left: 10%;
}

/*                MOBILE VIEW                */

@media only screen and (max-width: 1000px) {
    /*
        All files
    */
  
    body {
        margin-right: 1em;
        margin-left: 1em;
    }
  
    #name {
        margin-bottom: -30px;
    }

    #name h1 {
        font-size: 50px;
        text-align: center;
    }
  
    #menubar {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        text-align: center;
    }
  
    #menubar a {
        padding-left: auto;
        padding-right: auto;
        width: 100%;
        display: block;
        font-size: 20px;
    }

    /*
        index.html
    */
    
    #profile-box {
        margin-right: auto;
        margin-top: 0;
        margin-bottom: -20px;
        float: none;
        max-width: 307.2px;
        max-height: 384px;
    }
  
    #abouttext {
        margin-right: auto;
        margin-left: auto;
        font-size: 18px;
        text-align: center;
        width: 80%;
    }

    #aboutsocials {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 18px;
    }
  
    #aboutsocials img {
        height: 30px;
        width: 30px;
    }
  
    #aboutother {
        font-size: 17px;
    }

    /*
        projects.html
    */
  
    .project {
        margin-bottom: 0px;
    }
  
    .entry {
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
        width: 100%;
        margin-top: 0px;
    }
  
    .entry button {
        font-size: 16px;
    }
  
    .thumbnail {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
  
    .modal-content {
        margin: 5% auto;
        width: 75%; 
        font-size: 16px;
    }
  
    .modal-content img{
        width: 80%;
    }
  
    #github {
        font-size: 15px;
    }
    
    /*
        updates.html
    */
  
    .update {
        margin-bottom: 4px;
        font-size: 18px;
    }
  
    .update h3 {
        margin-top: 5px;
        margin-bottom: 4px;
    }

    .update h4{
        margin-bottom: 4px;
    }
}
