/*
    All Files
*/

@font-face {
    font-family: font;
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: font-regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

#particles {
    background-color: #0c0c0c;
    height: 250vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
}

#index-html, #index-body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: font;
    color: white;
}

#middleName {
    color: #62C370;
}

#navbar {
    
    margin: 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    float: right;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li {
    margin: 0 10px;
    display: inline;
}

.navbar-link {
    text-decoration: none;
    font-size: x-large;
    color: white;
    transition: 0.3s;
}
.navbar-link:hover {
    color: #62C370;
}

#MDF {
    font-size: xx-large;
    float: left;
}

g {
    color: #62C370;
}

/*
    index.html
*/

#nameCard {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    font-size: larger;
}

/*
    about.html
*/

#about-html, #about-body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: font;
    color: white;
  }  

#about-content {
    margin-left: auto;
    margin-right: auto;
    width: 69rem;
}

#profile-box img{
    max-width: 384px;
    max-height: 480px;
    float: left;
    box-shadow: 0 0 20px 20px #0c0c0c;
    margin-right: 25px;
}

#about-intro {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 24px;
}

#about-contacts {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-contacts img {
    height: 130px;
    width: 130px;
    border-radius: 20%;
    border: solid white 5px;
    padding: 30px;
}
#about-contacts a {
    display: inline-block;
    margin-left: 9.1%;
    margin-right: 9.1%;
}


/*
    projects.html
*/

#projects-html, #projects-body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: font;
    color: white;
}

#project-content {
    margin-left: auto;
    margin-right: auto;
    width: 55rem;
}

.project {
    width: 100%;
    height: 200px;
    opacity: 90%;
    margin-bottom: 30px;
    border: solid gray 3px;
    border-radius: 25px;
    background-color: #0c0c0c;
    transition: 0.3s;
}
.project:hover {
    border: solid white 3px;
}

.project-buttons {
    width: 20%;
    height: 97%;
    float: left;
}
.project-buttons button {
    background-color: #0c0c0c;
    border: solid #62C370 4px;
    border-radius: 25px;
    color: #62C370;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 80%;
    height: 40%;
    margin: 6% 10%;
    font-family: font;
    transition: 0.3s;
}
.project-buttons button:hover{
    background-color: #62C370;
    color: #0c0c0c;
}

.project-meta {
    width: 49%;
    height: 97%;
    float: left;
}

.project-title {
    width: 95%;
    margin: 15px 0;
}
.project-title h3 {
    margin: 0;
}

.project-desc {
    width: 90%;
    height: 45%;
    padding-left: 20px;
    font-family: font-regular;
}
.project-desc p {
    font-size: small;
}

.project-code {
    width: 90%;
    height: 25%;
}
.code-img {
    height: 40px;
    width: 40px;
    float: left;
    padding: 5px;
}

.project-image {
    width: 30%;
    height: 97%;
    float: right;
    margin-right: 5px;
}
.project-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*
    resume.html
*/

#resume-html, #resume-body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: font;
    color: white;
}
  
#resume-pdf {
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    font-size: larger;
}

@media only screen and (max-width: 69rem) {

    .navbar-link {
        font-size: large;
    }

    /*
        about.html
    */

    #about-html, #about-body {
        overflow: auto;
      }  
    
    #about-content {
        width: 23rem;
    }

    #profile-box {
        padding-left: 11%;
    }

    #profile-box img {
        max-width: 289.5px;
        max-height: 360px;
        float: none;
    }
    
    #about-intro {
        text-align: center;
        font-size: 20px;
    }
    
    #about-contacts img {
        height: 40px;
        width: 40px;
        padding: 10px;
    }

    /*
        projects.html
    */

    #particles {
        height: 400vh;
    }

    #project-content {
        width: 23rem;
    }

    .project {
        height: 320px;
    }

    .project-buttons {
        width: 40%;
    }
    .project-buttons button {
        margin: 15% 10% 3% 10%;
    }

    .project-meta {
        width: 60%;
        text-align: center;
    }

    .project-title {
        margin-right: 0;
    }

    .project-desc {
        padding-left: 0;
    }

    .project-code {
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    .project-image {
        display: none;
    }
}